#campusViewDiv,
#viewDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#campusViewDiv {
  pointer-events: none;
  height: 200px;
}

.campus-image-container {
  width: 100%;
  margin-bottom: 0.75rem;
  text-align: center;
  height: 200px;
}

.campus-image-container img {
  height: 200px;
  max-width: 100%;
}

#custom-panel {
  --calcite-shell-panel-width: 340px;
}

calcite-slider {
  max-width: 90%;
}

calcite-card {
  margin-bottom: 0.75rem;
  cursor: pointer;
  text-align: start;
}

calcite-pagination {
  flex: 1;
  justify-content: center;
}

calcite-label span {
  font-weight: 500;
  text-align: end;
  max-width: 60%;
}

.item-button {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 100%;
  background: transparent;
}

.calcite-block-contents calcite-notice {
  margin-block-end: 1rem;
}

#programType calcite-chip {
  cursor: pointer;
}

.calcite-panel-contents {
  overflow-y: auto;
  display: block;
  height: 100%;
  word-wrap: break-word;
  word-break: break-word;
}

calcite-flow {
  border-top: none;
}
