#campusViewDiv,
#viewDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#campusViewDiv {
  pointer-events: none;
  height: 200px;
}

#custom-panel {
  --calcite-shell-panel-width: 340px;
}

calcite-pagination {
  flex: 1;
  justify-content: center;
}

.calcite-panel-contents {
  overflow-y: auto;
  display: block;
  height: 100%;
}

calcite-flow {
  border-top: none;
}
