/* Calcite Dev Summit 2024 Demo Template */
/* Demo template supporting styles */

html,
body,
arcgis-map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

calcite-menu-item {
  --calcite-color-foreground-1: var(--calcite-color-background);
}

calcite-navigation-logo {
  --calcite-ui-icon-color: var(--calcite-color-brand);
}

calcite-shell-panel[slot="panel-start"] calcite-panel {
  border-top: 0;
}

calcite-action-pad {
  margin-inline-end: 0.5rem;
}

#modal hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--calcite-color-border-3);
}

#modal ul li {
  margin-bottom: 0.5rem;
}

#modal calcite-notice {
  margin-bottom: 1.25rem;
}

/* Calcite Dev Summit 2024 Demo Template */
/* App-specific supporting styles below */

.example-shell {
  margin: auto;
  border-radius: var(--calcite-corner-radius-round);
  inline-size: calc(100% - 5rem);
  block-size: calc(100% - 5rem);
  box-shadow: var(--calcite-shadow-md);
}

@media screen and (max-width: 800px) {
  .example-shell {
    inline-size: calc(100% - 2rem);
    block-size: calc(100% - 2rem);
  }
}

calcite-shell {
  background-size: 16px 16px;
  background-color: var(--calcite-color-background);
  background-image: radial-gradient(circle, var(--calcite-color-border-2) 1px, transparent 1px);
}

/* Calcite Dev Summit 2024 Demo Template */
/* Custom styles below */
