#campusViewDiv,
#viewDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#campusViewDiv {
  pointer-events: none;
  height: 200px;
}

.campus-image-container {
  width: 100%;
  margin-bottom: 0.75rem;
  text-align: center;
  height: 200px;
}

.campus-image-container img {
  height: 200px;
  max-width: 100%;
}

#custom-panel {
  --calcite-shell-panel-width: 340px;
}

calcite-slider {
  max-width: 90%;
}

calcite-card {
  margin-bottom: 0.75rem;
  cursor: pointer;
  text-align: start;
}

calcite-pagination {
  flex: 1;
  justify-content: center;
}

calcite-label span {
  font-weight: 500;
  text-align: end;
  max-width: 60%;
}

.item-button {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 100%;
  background: transparent;
}

.calcite-block-contents calcite-notice {
  margin-block-end: 1rem;
}

#programType calcite-chip {
  cursor: pointer;
}

.calcite-panel-contents {
  overflow-y: auto;
  display: block;
  height: 100%;
  word-wrap: break-word;
  word-break: break-word;
}

calcite-flow {
  border-top: none;
}

@media screen and (max-width: 800px) {
  #custom-panel {
    --calcite-shell-panel-width: 240px;
  }
}

.university-app-shell {
  --calcite-color-brand: #077f68;
  --calcite-color-brand-hover: #036452;
  --calcite-color-brand-press: #005141;
}

.calcite-mode-dark .university-app-shell {
  --calcite-color-brand: #45c4ac;
  --calcite-color-brand-hover: #389c89;
  --calcite-color-brand-press: #225c51;
}

.university-nav {
  color: var(--calcite-color-brand);
  --calcite-color-text-1: var(--calcite-color-brand);
}

.university-app-shell {
  scrollbar-color: var(--calcite-color-brand) var(--calcite-color-border-3);
}

.campus-image-container {
  background-color: var(--calcite-color-background);
}
